h1 {
<<<<<<< HEAD
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    background-color: aliceblue;
=======
    font-family: fantasy;
    color: #333;
    margin: 20;
>>>>>>> customer
}