h1 {
<<<<<<< HEAD
<<<<<<< HEAD
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    background-color: aliceblue;
=======
    font-family: fantasy;
    color: #333;
    margin: 20;
>>>>>>> customer
=======
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;
    padding: auto;
>>>>>>> programmer
}